In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [30]:
def split_scalar(indep_x, dep_Y):
    # Split the data into training and testing sets
    x_train, x_test, y_train, y_test = train_test_split(indep_x, dep_Y, test_size=0.30, random_state=0)
    sc = StandardScaler() 
    # Scale the training data
    x_train = sc.fit_transform(x_train)
    # Scale the testing data using the scaler "sc"
    x_test = sc.transform(x_test)
    return x_train, x_test, y_train, y_test

In [31]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
def apply_pca(indep_x, n_components=2):
    pca = PCA(n_components=n_components)
    indep_x_pca = pca.fit_transform(indep_x)
    return indep_x_pca

In [35]:
def svm_linear(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel='linear', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

In [37]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [39]:
def svm_NL(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel='rbf', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

In [40]:
 def Navie(X_train, y_train, X_test, y_test):
    classifier = GaussianNB()
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

In [41]:
def knn(X_train, y_train, X_test, y_test):
    classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

In [42]:
def Decision(X_train, y_train, X_test, y_test):
    classifier = DecisionTreeClassifier(criterion='entropy', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

In [43]:
def random(X_train, y_train, X_test, y_test):
    classifier = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
    classifier.fit(X_train, y_train)
    return cm_prediction(classifier, X_test, y_test)

In [44]:
def selectk_Classification(acclog, accsvml, accsvmnl, accknn, accnav, accdes, accrf):
    dataframe = pd.DataFrame(index=['PCA'], columns=['Logistic', 'SVMl', 'SVMnl', 'KNN', 'Navie', 'Decision', 'Random'])
    for number, idx in enumerate(dataframe.index):
        dataframe['Logistic'][idx] = acclog[number]
        dataframe['SVMl'][idx] = accsvml[number]
        dataframe['SVMnl'][idx] = accsvmnl[number]
        dataframe['KNN'][idx] = accknn[number]
        dataframe['Navie'][idx] = accnav[number]
        dataframe['Decision'][idx] = accdes[number]
        dataframe['Random'][idx] = accrf[number]
    return dataframe

In [57]:
#dataset = pd.read_csv('Wine.csv')
#X = dataset.iloc[:, 0:13].values
#y = dataset.iloc[:, 13].values

In [91]:
dataset1=pd.read_csv("Wine.csv",index_col=None)
X = dataset.iloc[:, 0:13].values
y = dataset.iloc[:, 13].values

In [92]:
df2=dataset1

In [93]:
df2 = pd.get_dummies(df2, drop_first=True)

In [94]:
df2

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

In [95]:
indep_x = df2.drop('Customer_Segment', axis=1)  # Adjusted column name
dep_Y = df2['Customer_Segment']  # Adjusted column name

In [96]:
pca = apply_pca(indep_x, n_components=5)  # Adjusted call without dep_Y

In [113]:
pca = apply_pca(indep_x, n_components=1)
acclog=[]
accsvml=[]
accsvmnl=[]
accknn=[]
accnav=[]
accdes=[]
accrf=[]

In [114]:
x_train,x_test,y_train,y_test = split_scalar(pca,dep_Y)
classifier, accuracy, report, cm = logistic(x_train, y_train, x_test, y_test)
acclog.append(accuracy)

classifier, accuracy, report, cm = svm_linear(x_train, y_train, x_test, y_test)
accsvml.append(accuracy)

classifier, accuracy, report, cm = svm_NL(x_train, y_train, x_test, y_test)
accsvmnl.append(accuracy)

classifier, accuracy, report, cm = knn(x_train, y_train, x_test, y_test)
accknn.append(accuracy)

classifier, accuracy, report, cm = Navie(x_train, y_train, x_test, y_test)
accnav.append(accuracy)

classifier, accuracy, report, cm = Decision(x_train, y_train, x_test, y_test)
accdes.append(accuracy)

classifier, accuracy, report, cm = random(x_train, y_train, x_test, y_test)
accrf.append(accuracy)

# Get results
result = selectk_Classification(acclog, accsvml, accsvmnl, accknn, accnav, accdes, accrf)

In [103]:
result
#5

     Logistic      SVMl     SVMnl       KNN     Navie  Decision    Random
PCA  0.759259  0.759259  0.777778  0.666667  0.796296  0.703704  0.703704

In [106]:
result
#4

     Logistic      SVMl     SVMnl       KNN     Navie  Decision    Random
PCA  0.925926  0.925926  0.944444  0.944444  0.981481  0.907407  0.962963

In [109]:
result
#3

     Logistic      SVMl    SVMnl       KNN     Navie  Decision    Random
PCA  0.814815  0.814815  0.87037  0.814815  0.814815  0.814815  0.777778

In [112]:
result
#2

     Logistic      SVMl     SVMnl       KNN     Navie  Decision    Random
PCA  0.759259  0.759259  0.777778  0.666667  0.796296  0.703704  0.703704

In [115]:
result
#1

     Logistic      SVMl     SVMnl       KNN     Navie  Decision    Random
PCA  0.777778  0.759259  0.740741  0.703704  0.759259  0.685185  0.666667